h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.5rem;
}

.hero_section {
  height: 100svh;
  padding: 15rem 5%;
}

.hero_section > * {
  margin-bottom: 30px;
}

@media only screen and (max-width: 482px) {
  h1 {
    font-size: 5rem;
  }
  .hero_section {
    padding: 5rem 2rem;
  }

  .hero_section > * {
    margin-bottom: 70px;
  }

  .hero_section p {
    font-size: 1.2rem;
  }
}


.stats {
  display: flex;
}

.stats div h2 {
  margin-bottom: 15px;
}

.stats > :nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
}

.stats > :nth-child(3),
.stats > :nth-child(5) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.stats hr {
  border: 1.2px solid #085cb2;
}


.hero_btn {
  background-color: #085cb2;
  width: 163px;
  height: 41px;
  border-radius: 10px;
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
}

.collection_section {
  padding: 0 5% 0 5%;
}

.collection_section h3, 
.product_section h3,
.services_section h3,
.review_section h3 {
  text-align: center;
  margin: 40px 0;
}

.collections {
  display: flex;
  justify-content: space-between;
}

.collection_product {
  width: min(47%, 50rem);
  height: 19rem;
  border-radius: 15px;
  padding: 10px 0;
  margin-bottom: 5rem;
}

.collection_product p {
  margin: 20px;
}

.mid_collection {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 482px) {
  .collection_product {
    width: 95%;
    margin-bottom: 20px;
  }
  .collections {
    flex-direction: column;
    align-items: center;
  }
} 


.product_section {
  padding: 0 5% 0 5%;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /*3 columns */
  grid-template-rows: repeat(2, auto); /*2 rows */
  gap: 50px;
  justify-content: center;

}

.product {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

.product p, 
.product .rates {
  align-self: self-start;
  margin: 3px 0;
}

.rates {
  display: flex;
}

.product_img, .product_img img {
  width: 100%;
  margin-bottom: 3px;
}

.product_img {
  position: relative;
}

.product_img .heart {
  position: absolute;
  top: 40px;
  right: 30px;
}

.product_btn {
  background-color: #20B208;
  width: 145px;
  height: 41px;
  border-radius: 10px;
  color: white;
  outline: none;
  cursor: pointer;
  border: none;
  margin: 6px 0;
}

@media only screen and (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(3, auto); 
    gap: 10px;
  }

  .product {
    width: 90%;
    margin-bottom: 50px;
  }

  .product_img .heart {
    top: 20px;
    right: 20px;
  }
}


.services_section {
  padding: 0 5% 0 5%;
  margin-top: 80px;
}

.service_group {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(2, auto); /* 2 rows */
  gap: 40px;
  justify-content: center;
  margin-top: 80px;
}

.service {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.service h3 {
  color: #2F8CED;
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  .service {
    flex-direction: column;
  }

  .service img {
    width: 40%;
  }
}

.review_section {
  padding: 0 5% 0 5%;
  margin-top: 80px;
}

.review_section h5 {
  font-size: 1.3rem;
}

.review_section h6 {
  font-size: 1rem;
  margin: 30px 0;
}

.reviews {
  border: 1px solid #085CB2;
  border-radius: 30px;
  padding: 80px;
  width: min(90%, 1000px);
  margin: 0 auto;
}

.reviews h5 {
  text-align: center;
}

.reviews p, .reviews h6 {
  text-align: left;
}

.review {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-top: 30px;
}



@media only screen and (max-width: 768px) {
  .reviews {
    padding: 10px;
  }
  .reviews p, .reviews h6 {
    text-align: center;
  }
  .review {
    flex-direction: column;
    gap: 50px;
  }
}


