fo

.footer_contents * {
    color: white;
}

.footer_contents h6 {
    font-size: 1rem;
}

.footer_contents p {
    font-size: .6rem;
    font-family:  "Inter", sans-serif;;
}

.footer_contents h1 {
    font-size: 2rem;
}

.footer_icons {
    display: flex;
    margin-right: 5px;
}