.footer_contents {
    display: flex;
    justify-content: space-evenly;
}

.footer_contents * {
    color: white;
}

.footer_contents h6 {
    font-size: 1rem;
}

.footer_contents p {
    font-size: .6rem;
    font-family:  "Inter", sans-serif;;
}

.footer_contents h1 {
    font-size: 2rem;
}

.footer_icons {
    display: flex;
    margin-right: 5px;
}

.input_group {
  display: flex;
}

.input_group input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  background-color: #085CB2;
  color: ;
}

.input_group button[type="submit"] {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  background-color: #f0f0f0;
  cursor: pointer;
  color: #2D5584;
}
