.footer_contents * {
    color: white;
}

.footer_contents h6 {
    font-size: 1rem;
}

.footer_contents h5 {
    font-size: ;
}

.footer_contents h1 {
    font-size: 2rem;
}

.footer_icons {
    display: flex;
    margin-right: 5px;
}